# default reviewers
*                 @greenbone/security-intelligence

# github actions & settings
/.github/           @greenbone/devops @greenbone/security-intelligence

# deployment
Dockerfile          @greenbone/devops @greenbone/security-intelligence
