# only to be used in combination with `docker-compose.yml`

# version: '3' # uncomment for compatibility with old docker compose versions

services:
  notification-service:
    build: . # replace this line with `image: ghcr.io/greenbone/notification-service:<desired vibd docker image>` if you want to use an already built image instead of building one from the active working directory
    secrets:
      - PostgresPassword
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD_FILE: /run/secrets/PostgresPassword
      DB_NAME: notification_service
      DB_SSL_MODE: disable
      LOG_LEVEL: debug
      KEYCLOAK_URL: http://keycloak:8080/auth # for inter-service communication on docker network
      KEYCLOAK_PUBLIC_URL: http://localhost:8082/auth # for web communication (e.g swagger)
      # HTTP_ALLOWED_ORIGINS: <frontend address> # uncomment and set frontend address for access from frontend
    ports:
      - 8085:8085
    networks:
      - opensight-notification-net
    depends_on: 
      postgres:
        condition: service_healthy
  