x-images:
  postgres: &postgres-image
    image: packages.greenbone.net/opensight/opensight-postgres:17.5.1

networks:
  opensight-notification-net:
    driver: bridge

volumes:
  opensight-notification-data:
    name: opensight-notification-postgres-data

services:
  postgres:
    <<: *postgres-image
    pull_policy: missing
    ports:
      - "5432:5432"
    networks:
      - opensight-notification-net
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notification_service
    volumes:
      - opensight-notification-data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready --username=application-user --dbname=asset-management-backend"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 15s
