basePath: /api/notification-service
definitions:
  dtos.CheckMailServerEntityRequest:
    properties:
      domain:
        type: string
      isAuthenticationRequired:
        default: false
        type: boolean
      isTlsEnforced:
        default: false
        type: boolean
      password:
        type: string
      port:
        type: integer
      username:
        type: string
    type: object
  dtos.CheckMailServerRequest:
    properties:
      domain:
        type: string
      isAuthenticationRequired:
        default: false
        type: boolean
      isTlsEnforced:
        default: false
        type: boolean
      password:
        type: string
      port:
        type: integer
      username:
        type: string
    type: object
  filter.CompareOperator:
    enum:
    - beginsWith
    - doesNotBeginWith
    - contains
    - doesNotContain
    - textContains
    - isNumberEqualTo
    - isNumberNotEqualTo
    - isEqualTo
    - isNotEqualTo
    - isIpEqualTo
    - isIpNotEqualTo
    - isStringEqualTo
    - isStringNotEqualTo
    - isStringCaseInsensitiveEqualTo
    - isGreaterThan
    - isGreaterThanOrEqualTo
    - isLessThan
    - isLessThanOrEqualTo
    - beforeDate
    - afterDate
    - betweenDates
    - exists
    - doesNotExist
    - isEqualToRating
    - isNotEqualToRating
    - isLessThanRating
    - isLessThanOrEqualToRating
    - isGreaterThanRating
    - isGreaterThanOrEqualToRating
    type: string
    x-enum-varnames:
    - CompareOperatorBeginsWith
    - CompareOperatorDoesNotBeginWith
    - CompareOperatorContains
    - CompareOperatorDoesNotContain
    - CompareOperatorTextContains
    - CompareOperatorIsNumberEqualTo
    - CompareOperatorIsNumberNotEqualTo
    - CompareOperatorIsEqualTo
    - CompareOperatorIsNotEqualTo
    - CompareOperatorIsIpEqualTo
    - CompareOperatorIsIpNotEqualTo
    - CompareOperatorIsStringEqualTo
    - CompareOperatorIsStringNotEqualTo
    - CompareOperatorIsStringCaseInsensitiveEqualTo
    - CompareOperatorIsGreaterThan
    - CompareOperatorIsGreaterThanOrEqualTo
    - CompareOperatorIsLessThan
    - CompareOperatorIsLessThanOrEqualTo
    - CompareOperatorBeforeDate
    - CompareOperatorAfterDate
    - CompareOperatorBetweenDates
    - CompareOperatorExists
    - CompareOperatorDoesNotExist
    - CompareOperatorIsEqualToRating
    - CompareOperatorIsNotEqualToRating
    - CompareOperatorIsLessThanRating
    - CompareOperatorIsLessThanOrEqualToRating
    - CompareOperatorIsGreaterThanRating
    - CompareOperatorIsGreaterThanOrEqualToRating
  filter.ControlType:
    enum:
    - bool
    - enum
    - float
    - integer
    - string
    - dateTime
    - uuid
    - autocomplete
    type: string
    x-enum-varnames:
    - ControlTypeBool
    - ControlTypeEnum
    - ControlTypeFloat
    - ControlTypeInteger
    - ControlTypeString
    - ControlTypeDateTime
    - ControlTypeUuid
    - ControlTypeAutocomplete
  filter.LogicOperator:
    enum:
    - and
    - or
    type: string
    x-enum-varnames:
    - LogicOperatorAnd
    - LogicOperatorOr
  filter.ReadableValue-string:
    properties:
      label:
        description: Label is the human-readable form of the value
        type: string
      value:
        description: Value is the value for the backend
        type: string
    type: object
  filter.Request:
    properties:
      fields:
        items:
          $ref: '#/definitions/filter.RequestField'
        type: array
      operator:
        $ref: '#/definitions/filter.LogicOperator'
    required:
    - operator
    type: object
  filter.RequestField:
    properties:
      keys:
        items:
          type: string
        type: array
      name:
        type: string
      operator:
        $ref: '#/definitions/filter.CompareOperator'
      value:
        description: Value can be a list of values or a value
    required:
    - name
    - operator
    - value
    type: object
  filter.RequestOptionType:
    properties:
      type:
        allOf:
        - $ref: '#/definitions/filter.ControlType'
        enum:
        - string
        - float
        - integer
        - enum
        - bool
    type: object
  models.Notification:
    properties:
      customFields:
        additionalProperties: {}
        description: can contain arbitrary structured information about the notification
        type: object
      detail:
        type: string
      id:
        readOnly: true
        type: string
      level:
        enum:
        - info
        - warning
        - error
        type: string
      origin:
        type: string
      originUri:
        description: can be used to provide a link to the origin
        type: string
      timestamp:
        format: date-time
        type: string
      title:
        description: can also be seen as the 'type'
        type: string
    required:
    - detail
    - level
    - origin
    - timestamp
    - title
    type: object
  paging.Request:
    properties:
      index:
        type: integer
      size:
        type: integer
    type: object
  paging.Response:
    properties:
      index:
        type: integer
      size:
        type: integer
      totalDisplayableResults:
        type: integer
      totalResults:
        type: integer
    required:
    - index
    - size
    - totalDisplayableResults
    type: object
  query.FilterOption:
    properties:
      control:
        $ref: '#/definitions/filter.RequestOptionType'
      multiSelect:
        type: boolean
      name:
        $ref: '#/definitions/filter.ReadableValue-string'
      operators:
        items:
          properties:
            label:
              description: Label is the human-readable form of the value
              type: string
            value:
              allOf:
              - $ref: '#/definitions/filter.CompareOperator'
              description: Value is the value for the backend
          type: object
        type: array
      values:
        items:
          type: string
        type: array
    required:
    - control
    - multiSelect
    - name
    - operators
    type: object
  query.Metadata:
    properties:
      filter:
        $ref: '#/definitions/filter.Request'
      paging:
        $ref: '#/definitions/paging.Response'
      sorting:
        $ref: '#/definitions/sorting.Request'
    type: object
  query.ResponseListWithMetadata-models_Notification:
    properties:
      data:
        items:
          $ref: '#/definitions/models.Notification'
        type: array
      metadata:
        $ref: '#/definitions/query.Metadata'
    required:
    - data
    - metadata
    type: object
  query.ResponseWithMetadata-array_query_FilterOption:
    properties:
      data:
        items:
          $ref: '#/definitions/query.FilterOption'
        type: array
      metadata:
        $ref: '#/definitions/query.Metadata'
    required:
    - data
    - metadata
    type: object
  query.ResponseWithMetadata-models_Notification:
    properties:
      data:
        $ref: '#/definitions/models.Notification'
      metadata:
        $ref: '#/definitions/query.Metadata'
    required:
    - data
    - metadata
    type: object
  query.ResultSelector:
    properties:
      filter:
        $ref: '#/definitions/filter.Request'
      paging:
        $ref: '#/definitions/paging.Request'
      sorting:
        $ref: '#/definitions/sorting.Request'
    type: object
  request.MailNotificationChannelRequest:
    properties:
      channelName:
        type: string
      domain:
        type: string
      id:
        type: string
      isAuthenticationRequired:
        default: false
        type: boolean
      isTlsEnforced:
        default: false
        type: boolean
      maxEmailAttachmentSizeMb:
        type: integer
      maxEmailIncludeSizeMb:
        type: integer
      password:
        type: string
      port:
        type: integer
      senderEmailAddress:
        type: string
      username:
        type: string
    type: object
  sorting.Request:
    properties:
      column:
        type: string
      direction:
        $ref: '#/definitions/sorting.SortDirection'
    type: object
  sorting.SortDirection:
    enum:
    - desc
    - asc
    - ""
    type: string
    x-enum-varnames:
    - DirectionDescending
    - DirectionAscending
    - NoDirection
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
info:
  contact: {}
  description: HTTP API of the Notification service
  license:
    name: AGPL-3.0-or-later
  title: Notification Service API
  version: "1.0"
paths:
  /notification-channel/mail:
    get:
      description: List mail notification channels by type
      parameters:
      - description: Channel type
        in: query
        name: type
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/request.MailNotificationChannelRequest'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - KeycloakAuth: []
      summary: List Mail Channels
      tags:
      - mail-channel
    post:
      consumes:
      - application/json
      description: Create a new mail notification channel
      parameters:
      - description: Mail channel to add
        in: body
        name: MailChannel
        required: true
        schema:
          $ref: '#/definitions/request.MailNotificationChannelRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/request.MailNotificationChannelRequest'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - KeycloakAuth: []
      summary: Create Mail Channel
      tags:
      - mail-channel
  /notification-channel/mail/{id}:
    delete:
      description: Delete a mail notification channel
      parameters:
      - description: Mail channel ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "204":
          description: Deleted successfully
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - KeycloakAuth: []
      summary: Delete Mail Channel
      tags:
      - mail-channel
    put:
      consumes:
      - application/json
      description: Update an existing mail notification channel
      parameters:
      - description: Mail channel ID
        in: path
        name: id
        required: true
        type: string
      - description: Mail channel to update
        in: body
        name: MailChannel
        required: true
        schema:
          $ref: '#/definitions/request.MailNotificationChannelRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/request.MailNotificationChannelRequest'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - KeycloakAuth: []
      summary: Update Mail Channel
      tags:
      - mail-channel
  /notifications:
    post:
      consumes:
      - application/json
      description: Create a new notification
      parameters:
      - description: notification to add
        in: body
        name: Notification
        required: true
        schema:
          $ref: '#/definitions/models.Notification'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          headers:
            api-version:
              description: API version
              type: string
          schema:
            $ref: '#/definitions/query.ResponseWithMetadata-models_Notification'
      security:
      - KeycloakAuth: []
      summary: Create Notification
      tags:
      - notification
    put:
      consumes:
      - application/json
      description: Returns a list of notifications matching the provided filters
      parameters:
      - description: filters, paging and sorting
        in: body
        name: MatchCriterias
        required: true
        schema:
          $ref: '#/definitions/query.ResultSelector'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            api-version:
              description: API version
              type: string
          schema:
            $ref: '#/definitions/query.ResponseListWithMetadata-models_Notification'
      security:
      - KeycloakAuth: []
      summary: List Notifications
      tags:
      - notification
  /notifications/mail/{id}/check:
    post:
      consumes:
      - application/json
      description: Check if a mail server is reachable
      parameters:
      - description: Mail server to check
        in: body
        name: MailServerConfig
        required: true
        schema:
          $ref: '#/definitions/dtos.CheckMailServerEntityRequest'
      produces:
      - application/json
      responses:
        "204":
          description: Mail server reachable
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "422":
          description: Mail server error
      security:
      - KeycloakAuth: []
      summary: Check mail server
      tags:
      - mailserver
  /notifications/mail/check:
    post:
      consumes:
      - application/json
      description: Check if a mail server is reachable
      parameters:
      - description: Mail server to check
        in: body
        name: MailServerConfig
        required: true
        schema:
          $ref: '#/definitions/dtos.CheckMailServerRequest'
      produces:
      - application/json
      responses:
        "204":
          description: Mail server reachable
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "422":
          description: Mail server error
      security:
      - KeycloakAuth: []
      summary: Check mail server
      tags:
      - mailserver
  /notifications/options:
    get:
      description: Get filter options for listing notifications
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            api-version:
              description: API version
              type: string
          schema:
            $ref: '#/definitions/query.ResponseWithMetadata-array_query_FilterOption'
      security:
      - KeycloakAuth: []
      summary: Notification filter options
      tags:
      - notification
securityDefinitions:
  KeycloakAuth:
    authorizationUrl: '{{.KeycloakAuthUrl}}/realms/{{.KeycloakRealm}}/protocol/openid-connect/auth'
    flow: implicit
    type: oauth2
swagger: "2.0"
